@import './setting.scss';
@import '../theme.scss';
.theme-#{$theme-name} {
  body{
    font-size: 12px !important;
  }
  // 头部
  .d2-theme-header {
    background: url(/image/theme/group-platform1366/headBg.jpg) #3e7deb;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header{
    height: 50px;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .logo-group img{
    height: 50px;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .logo-group{
    // width: 395px !important;
    text-align: left;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .toggle-aside-btn{
    width: 50px;
    height: 50px;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .toggle-aside-btn i{
    font-size: 13px !important;
  }
  .el-button--text i{
    font-size: 13px !important;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .d2-header-right{
    height: 50px;
  }
  .el-dropdown, .el-dropdown-menu--medium .el-dropdown-menu__item{
    font-size: 12px;
  }
 .el-dropdown-menu--medium .el-dropdown-menu__item, .el-dropdown-menu__item{
    line-height: 28px;
  }
  .el-dropdown .el-button-group .el-button{
    padding: 9px 13px !important;
  }
  // .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .d2-header-right .btn-text i{
  //   font-size: 18px !important;
  // }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-header .d2-header-right .btn-text{
    padding: 12px !important;
  }
  // 侧边导航
  .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item, .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title{
    height: 40px;
    line-height: 40px;
    font-size: 12px;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-side{
    background: #fff;
  }
  .d2-theme-header .el-menu .el-submenu.is-active .el-submenu__title, .d2-theme-header .el-menu .el-menu-item.is-active, .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item.is-active{
    border-right: 3px solid #3e7deb;
  }
  .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item{
    -webkit-transition: none;
    transition: none;
  }
  .el-submenu .el-menu .el-menu-item{
    padding-left: 30px !important;
    min-width: 180px;
  }
  .el-menu-item, .el-submenu .el-submenu__title{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title i, .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item i {
    color: #485a6a;
    font-size: 12px;
  }
  .el-submenu.is-opened .el-submenu__title i, .el-submenu.is-opened .el-submenu__title span{
    color: #3e7deb !important;
  }
  .el-submenu.is-opened{
    background-color: #f7faff;
  }
  .d2-theme-container .d2-theme-container-aside .el-menu .el-menu-item.is-active i{
    color: #3e7deb !important;
  }
  .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .el-submenu .el-submenu__title .el-submenu__icon-arrow{
    margin-right: -5px;
    margin-top: -5px;
    font-size: 12px;
  }
  .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav .el-tabs__item {
    color: #1f2e42;
  }
  // tabs标签
  .white-tabs .el-tabs__nav{
    height: 33px !important;
  }
  .white-tabs .el-tabs__item{
    height:27px !important;
    line-height: 27px !important;
    background-color: #fff !important;
    border: 1px solid #e4e7ec !important;
    border-radius: 2px;
    margin: 3px 2px !important;
    padding: 0 10px !important;
    font-size: 12px;
  }
  .white-tabs .el-tabs__header .el-tabs__nav{
  border-right: none !important;
  border-top: none !important;
  border-bottom: none !important;
  padding-left: 10px;
 }
 .white-tabs .el-tabs__nav .el-tabs__item.is-active{
   color: #fff !important;
   background-color: #3e7deb !important;
   border: 1px solid #3e7deb !important;
 }
 .el-tabs--card>.el-tabs__header .el-tabs__item{
   -webkit-transition: none;
   transition: none;
 }
 .el-tabs--card>.el-tabs__header .el-tabs__item .el-icon-close:hover{
   background-color: #d1d5e3;
 }
 .el-tabs--card>.el-tabs__header .el-tabs__item.is-active.is-closable .el-icon-close, .el-tabs--card>.el-tabs__header .el-tabs__item.is-closable:hover .el-icon-close{
   width: 12px;
 }
 .el-tabs--card>.el-tabs__header .el-tabs__item .el-icon-close{
  font-size: 10px;
  height: 12px;
  line-height: 12px;
 }
 .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body{
   background: #f7f6fb;
 }
 .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component{
   background: #fff;
   margin: 8px;
 }
 .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside{
  box-shadow: 5px 3px 5px #eff3f7 !important;
  z-index: 999;
 }
 .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full{
   border: none;
 }
 .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__header.is-top{
   border-bottom: 1px solid #fff;
 }
 .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav{
  border-color: #e7ebf4;
 }
 .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control-btn .el-dropdown .el-button-group .el-button{
  border-color:#e7ebf4;
 }
 .d2-multiple-page-control-btn.el-dropdown .el-button:focus, .d2-multiple-page-control-btn .el-dropdown .el-button:hover{
  color: #3e7deb;
  border-color: transparent;
  background-color: #edf4ff;
 }
 .el-dropdown-menu__item{
   color: #485a6a;
   font-size: 12px;
 }
 .el-dropdown-menu__item:hover{
  color: #3e7deb !important;
  background-color: #edf4ff !important;
 }
 .menuTitle{
  height: 40px;
  line-height: 40px;
  font-size: 15px;
  padding-left: 17px;
  font-weight: bold;
  margin-top: 5px;
  color: #1f2e42;
 }
 .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-aside .d2-layout-header-aside-menu-side{
  top: 45px;
 }
 .d2-layout-header-aside-group .d2-layout-header-aside-content .d2-theme-container .d2-theme-container-main .d2-theme-container-main-body .container-component .d2-container-full .d2-container-full__body{
  padding: 16px;
  overflow-x: hidden;
 }
 .el-tabs__nav-next, .el-tabs__nav-prev{
   line-height: 33px;
 }
 .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-prev, .d2-theme-container .d2-theme-container-main .d2-theme-container-main-header .d2-multiple-page-control .el-tabs__nav-next{
   font-size: 16px;
 }
// 新增页面
.new-page{
  margin: -16px;
  background: #f7f6fb;
}
 .search-area{
  padding: 15px 10px 7px 15px;
  background: #fff;
 }
 .search-area .el-form--inline .el-form-item{
  margin-right: 25px;
 }
 .table-content{
  padding: 8px 10px 6px 15px;
  background: #fff;
  margin-top: 8px;
 }
 .content-tit{
  height: 33px;
  line-height: 28px;
 }
 .content-tit-line{
  height: 1px;
  background: #e9eaef;
  margin-bottom: 6px;
  margin-left: -15px;
  margin-right: -15px;
 }
 .content-tit-icon{
  background-color: #3E7DEB;
  width: 4px;
  height: 18px;
  float: left;
  margin-right: 10px;
  margin-left: -15px;
  margin-top: 4px;
 }
 .content-tit .content-tit-text{
  font-weight: bold;
  font-size: 14px;
  color: #485a6a;
 }
// 按钮组件
.el-button, .d2-theme-container-main-body .el-button {
  padding: 6px 10px !important;
  font-size: 12px;
}
 .el-button--primary{
  background-color: #3e7deb;
  border-color: #3e7deb;
 }
 .el-button--primary:hover{
  background-color: #4786f5;
  border-color: #4786f5;
 }
 .el-button--primary:focus{
  background-color: #4786f5;
  border-color: #4786f5;
 }
 .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover {
  background-color: #81afff;
  border-color: #81afff;
}
 .el-button--danger{
  background-color: #ff5464;
  border-color: #ff5464;
 }
 .el-button--danger:hover{
  background-color: #ff7885;
  border-color: #ff7885;
 }
 .el-button--danger:focus{
  background-color: #ff7885;
  border-color: #ff7885;
 }
 .el-button--danger.is-plain{
  background-color: #fff;
  border-color:#ff5464;
  color:#ff5464;
}
.el-button--danger.is-plain:hover,.el-button--danger.is-plain:focus{
 background-color: #fff8f9;
 border-color:#ff5464;
 color:#ff5464;;
}
 .el-button--danger.is-disabled, .el-button--danger.is-disabled:active, .el-button--danger.is-disabled:focus, .el-button--danger.is-disabled:hover {
  background-color: #ff98a2;
  border-color: #ff98a2;
}
 .el-button--success{
  background-color: #14d58a;
  border-color: #14d58a;
 }
 .el-button--success:hover{
  background-color: #17e192;
  border-color: #17e192;
 }
 .el-button--success:focus{
  background-color: #17e192;
  border-color: #17e192;
 }
 .el-button--success.is-plain{
   background-color: #fff;
   border-color:#14d58a;
   color:#14d58a;
 }
 .el-button--success.is-plain:hover,.el-button--success.is-plain:focus{
  background-color: #f2fef9;
  border-color:#14d58a;
  color:#14d58a;
}
 .el-button--success.is-disabled, .el-button--success.is-disabled:active, .el-button--success.is-disabled:focus, .el-button--success.is-disabled:hover {
  background-color: #6de6b7;
  border-color: #6de6b7;
}
.el-button--primary.is-plain{
  border: 1px solid #3e7deb;
  color: #3e7deb;
  background-color: #fff;
 }
 .el-button--default:hover, .el-button--default:focus, .el-button--primary.is-plain:hover, .el-button--primary.is-plain:focus{
  background-color: #f2f7ff;
  border-color: #3e7deb;
  color: #3e7deb;
 }
 .el-button--default, .el-button--default.is-plain{
  color: #485a6a;
  background-color: #fff;
 }
.el-button--default.is-plain:hover, .el-button--default.is-plain:focus{
  background-color: #fff;
  border-color: #3e7deb;
  color: #3e7deb;
 }
 .el-button--default.is-disabled, .el-button--default.is-disabled:active, .el-button--default.is-disabled:focus, .el-button--default.is-disabled:hover {
  color: #81afff;
  border-color: #81afff;
}
 .el-button--info{
  background-color: #c2c7d2;
  border-color: #c2c7d2;
 }
 .el-button--info:hover{
  background-color: #cbd0db;
  border-color: #cbd0db;
 }
 .el-button--info:focus{
  background-color: #cbd0db;
  border-color: #cbd0db;
 }
 .el-button--info.is-plain{
  background-color: #fff;
  border-color:#c2c7d2;
  color:#c2c7d2;
}
.el-button--info.is-plain:hover,.el-button--info.is-plain:focus{
 background-color: #f8f8f8;
 border-color:#c2c7d2;
 color:#c2c7d2;
}
 .el-button--info.is-disabled, .el-button--info.is-disabled:active, .el-button--info.is-disabled:focus, .el-button--info.is-disabled:hover {
  background-color: #d4d8e1;
  border-color: #d4d8e1;
}
 .el-button--warning{
  background-color: #ffa438;
  border-color: #ffa438;
 }
 .el-button--warning:hover{
  background-color: #ffb358;
  border-color: #ffb358;
 }
 .el-button--warning:focus{
  background-color: #ffb358;
  border-color: #ffb358;
 }
 .el-button--warning.is-plain{
  background-color: #fff;
  border-color:#ffa438;
  color:#ffa438;
}
.el-button--warning.is-plain:hover,.el-button--warning.is-plain:focus{
 background-color: #fffaf4;
 border-color:#ffa438;
 color:#ffa438;
}
 .el-button--warning.is-disabled, .el-button--warning.is-disabled:active, .el-button--warning.is-disabled:focus, .el-button--warning.is-disabled:hover {
  background-color: #ffc683;
  border-color: #ffc683;
}
.el-button.is-circle{
  padding: 6px !important;
}
.el-button--text{
  color: #3e7deb;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.el-button--text:hover{
  color: #4786f5;
 }
 .el-button--text:focus{
  color: #4786f5;
 }
 .el-form--inline .el-form-item{
   margin-right: 6px;
   margin-bottom: 6px;
 }
 .el-form-item__content, .el-form-item__label{
   line-height: 26px !important;
 }
 .el-button+.el-button {
  margin-left: 6px;
}

// 输入框组件、选择器组件
.el-input{
  font-size: 12px;
}
.el-input__inner{
  height: 26px !important;
  line-height: 26px !important;
  border: 1px solid #dde0e7;
  color: #1f2e42;
  font-size: 12px;
}
.el-input__inner:focus-within, .el-textarea__inner:focus-within, .el-select .el-input.is-focus .el-input__inner, .el-select .el-input__inner:focus, .el-select .el-input.is-focus .el-input__inner{
  border-color: #3e7deb;
}
.el-form-item__label{
  color: #1f2e42;
}
.el-input__inner, .el-textarea__inner, .el-input--suffix .el-input__inner {
  &::placeholder {
      color: #ccc;
  }

  &::-webkit-input-placeholder {
      /* WebKit browsers 适配谷歌 */
      color: #bbb;
  }

  &:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 适配火狐 */
      color: #bbb;
  }

  &::-moz-placeholder {
      /* Mozilla Firefox 19+ 适配火狐 */
      color: #bbb;
  }

  &:-ms-input-placeholder {
      /* Internet Explorer 10+  适配ie*/
      color: #bbb;
  }
}
.el-textarea {
  font-size: 12px;
}
.el-textarea__inner{
  border: 1px solid #dde0e7;
  color: #1f2e42;
}
.el-input-group__append .el-button:hover, .el-input-group__append .el-button:focus, .el-input-group__append .el-button:active{
  background-color: transparent;
  color: #909399;
  border-color: transparent;
}
.el-select-dropdown__item{
  font-size: 12px;
  height: 28px;
  line-height: 28px;
}
.el-autocomplete-suggestion li, .el-select-dropdown__item{
  color: #485a6a;
}
.el-autocomplete-suggestion li:hover, .el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
  background-color: #edf4ff;
  color: #3e7deb;
}
.el-select-dropdown__item.is-disabled.hover, .el-select-dropdown__item.is-disabled:hover {
  color: #C0C4CC !important;
}
.el-select-dropdown__item.selected, .el-select-dropdown.is-multiple .el-select-dropdown__item.selected {
  color: #3e7deb !important;
}
.el-form-item{
  margin-bottom: 6px !important;
}
.el-form-item__label{
  font-size: 12px;
}
.el-input__icon{
  line-height: 26px !important;
  font-size: 12px !important;
  height: auto;
}
.el-select .el-input .el-select__caret{
  font-size: 12px;
}
// 单选、多选
.el-radio__label, .el-checkbox__label{
  font-size: 12px !important;
  padding-left: 8px;
}
.el-radio, .el-checkbox{
  color: #1f2e42;
  margin-right: 25px;
}
.el-radio__inner, .el-checkbox__inner{
  width: 12px;
  height: 12px;
}
.el-radio, .el-radio--medium.is-bordered .el-radio__label, .el-checkbox{
  font-size: 12px !important;
}
.el-radio__inner:hover, .el-checkbox__inner:hover{
  border: 1px solid #3e7deb;
}
.el-radio__input.is-checked .el-radio__inner, .el-checkbox__input.is-checked .el-checkbox__inner{
  border-color: #3e7deb;
  background: #3e7deb;
}
.el-radio__input.is-checked+.el-radio__label, .el-checkbox__input.is-checked+.el-checkbox__label, .el-radio-button__inner:hover, .el-checkbox-button__inner:hover{
  color: #3e7deb;
}
.el-radio-button__inner, .el-checkbox-button__inner{
  color: #1f2e42;
  padding: 6px 14px;
  font-size: 12px;
}
.el-radio-button:first-child .el-radio-button__inner {
  border-left: 1px solid #dde0e7;
}
.el-radio-button__orig-radio:checked+.el-radio-button__inner{
  background-color: #3e7deb;
  border-color: #3e7deb;
  -webkit-box-shadow: -1px 0 0 0 #3e7deb;
  box-shadow: -1px 0 0 0 #3e7deb;
}
.el-radio.is-bordered{
  height: 26px;
  padding: 6px 15px 0 10px;
}
 .el-checkbox.is-bordered{
  height: 26px;
  padding: 3px 15px 0 10px;
}
.el-radio.is-bordered.is-checked, .el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #3e7deb;
}
.el-checkbox__input.is-disabled+span.el-checkbox__label{
  color: #C0C4CC !important;
}
.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner, .el-checkbox-button.is-checked .el-checkbox-button__inner, .el-switch.is-checked .el-switch__core{
  background-color: #3e7deb;
  border-color: #3e7deb;
}
.el-checkbox-button.is-checked:first-child .el-checkbox-button__inner {
  border-left-color: #3e7deb;
}
.el-checkbox__input.is-indeterminate .el-checkbox__inner::before{
  top: 4px;
}
.el-checkbox__inner::after{
  left: 3px;
  top: 0;
}
//日历日期
.el-date-table td.today span, .el-date-table td:hover span, .el-date-table td.available:hover, .el-time-panel__btn.confirm{
  color: #3e7deb;
}
.el-date-table td.current:not(.disabled) span{
  background-color: #3e7deb;
}
//开关
.el-switch{
  font-size: 12px;
  height: 16px;
  line-height: 16px;
}
.el-switch__core{
  width: 30px !important;
  height: 16px;
}
.el-switch__core:after{
  width: 12px;
  height: 12px;
}
.el-switch.is-checked .el-switch__core::after{
  margin-left: -13px;
}
//表格
.el-table{
  font-size: 12px;
  color: #595959;
  margin-top: 0 !important;
}
.el-table--border, .el-table--group{
  border: 1px solid #e8e8e8;
}
.el-table thead{
   color: #262626;
}
.el-table .el-table__header th{
  background-color: #fafafa;
}
.el-table td, .el-table th{
  padding: 6px 0 !important;
}
// .el-table .el-table__header th{
//   padding: 0 !important;
// }
.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
  border-right: 1px solid #e8e8e8;
}
.el-table td, .el-table th.is-leaf {
  border-bottom: 1px solid #e8e8e8;
}
.el-table--border::after, .el-table--group::after, .el-table::before, .el-table__fixed-right::before, .el-table__fixed::before{
  background-color: #fff;
}
.el-table--striped .el-table__body tr.el-table__row--striped td{
  background: #f8f9fd;
}
.el-table--striped .el-table__body tr.el-table__row--striped.current-row td, .el-table__body tr.current-row>td, .el-table__row.current-row.hover-row td{
  background-color: #deeaff;
}
.el-table--striped .el-table__body tr.el-table__row--striped.hover-row td, .el-table__row.hover-row td, .el-table--striped tr.el-table__row:hover td, .el-table__body tr.el-table__row:hover td{
  background-color: #eaf2ff;
}
.el-table .ascending .sort-caret.ascending{
  border-bottom-color: #3e7deb;
}
.el-table .descending .sort-caret.descending{
  border-top-color: #3e7deb;
}
.el-table .cell{
  line-height: 19px !important;
}
.el-table .cell, .el-table--border td:first-child .cell, .el-table--border th:first-child .cell{
  padding-right: 10px;
}
.el-table__body-wrapper{
  height: 347px;
  overflow: auto;
}
.el-table .cell .el-button--text{
  padding: 0 !important;
}
.has-gutter th{
  padding: 0 !important;
}
// 分页
.el-pagination .el-select .el-input .el-input__inner, .el-pagination__editor.el-input .el-input__inner{
  height: 24px !important;
  line-height: 24px !important;
  color: #595959;
}
.el-pagination, .el-pagination__total, .el-pagination__jump, .el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
  color: #595959;
  font-weight: normal;
}
.el-pagination.is-background .btn-next, .el-pagination.is-background .btn-prev, .el-pagination.is-background .el-pager li{
   border: 1px solid #e7e7e7;
   background: none;
   border-radius: 3px;
   min-width: 24px !important;
}
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #3e7deb;
  border: 1px solid #3e7deb;
  color: #fff !important;
}
.el-pagination.is-background .el-pager li:hover{
  color: #3e7deb !important;
  border: 1px solid #3e7deb;
}
.el-pager li.active, .el-pager li:hover{
  color: #3e7deb;
}
.el-pagination button, .el-pagination span:not([class*=suffix]){
  height: 24px;
  line-height: 24px;
  font-size: 12px;
}
.el-pagination__sizes .el-input .el-input__inner, .el-pager li{
  font-size: 12px !important;
}
.el-pagination .btn-next, .el-pagination .btn-prev, .el-pagination .el-pager li, .el-pagination .el-pager li.btn-quicknext, .el-pagination .el-pager li.btn-quickprev, .el-pagination .el-pager li:last-child{
  height: 24px !important;
  line-height: 24px !important;
  margin: 0 3px;
}
.el-pager .more::before{
  line-height: 24px;
}
// 标签
.el-tag{
  color: #3e7deb;
  background-color: #f1f6ff;
  border-color: #dae7ff;
  height: 24px;
  line-height: 24px;
  padding: 0 6px;
}
.block .el-tag{
  margin-right: 6px !important;
}
.el-tag .el-tag__close {
  color: #3e7deb;
}
.el-tag .el-tag__close:hover{
  background-color: #3e7deb;
}
.el-tag.el-tag--success {
  background-color: #f1fffa;
  border-color: #c2f6e2;
  color: #14d58a;
}
.el-tag.el-tag--success .el-tag__close {
  color: #14d58a;
}
.el-tag.el-tag--success .el-tag__close:hover {
  background-color: #14d58a;
}
.el-tag.el-tag--info {
  background-color: #f6f6f6;
  border-color: #e5e5e5;
  color: #aaa;
}
.el-tag.el-tag--info .el-tag__close{
  color: #aaa;
}
.el-tag.el-tag--info .el-tag__close:hover {
  background-color: #aaa;
}
.el-tag.el-tag--warning {
  background-color: #fff7ee;
  border-color: #ffe8cd;
  color: #ffa438;
}
.el-tag.el-tag--warning .el-tag__close{
  color: #ffa438;
}
.el-tag.el-tag--warning .el-tag__close:hover {
  background-color: #ffa438;
}
.el-tag.el-tag--danger {
  background-color: #fff0f1;
  border-color: #ffd6da;
  color: #ff5464;
}
.el-tag.el-tag--danger .el-tag__close{
  color: #ff5464;
}
.el-tag.el-tag--danger .el-tag__close:hover {
  background-color: #ff5464;
}
.el-input.input-new-tag{
  width: 90px;
}
.el-input.input-new-tag .el-input__inner{
  height: 24px !important;
  padding: 0px 15px !important;
}
.el-tag--dark{
  background-color: #3e7deb;
  border-color: #3e7deb;
  color: #fff;
}
.el-tag--dark.el-tag--success {
  background-color: #14d58a;
  border-color: #14d58a;
  color: #fff;
}
.el-tag--dark.el-tag--info {
  background-color: #c2c7d2;
  border-color: #c2c7d2;;
  color: #fff;
}
.el-tag--dark.el-tag--danger {
  background-color: #ff5464;
  border-color: #ff5464;
  color: #fff;
}
.el-tag--dark.el-tag--warning {
  background-color: #ffa438;
  border-color: #ffa438;
  color: #fff;
}
.el-tag--plain {
  background-color: #fff;
  border-color: #bdd4ff;
  color: #3e7deb;
}
.el-tag--plain.el-tag--success {
  background-color: #fff;
  border-color: #a0f1d1;
  color: #14d58a;
}
.el-tag--plain.el-tag--info {
  background-color: #fff;
  border-color: #d4d9e5;
  color: #a9acb1;
}
.el-tag--plain.el-tag--danger {
  background-color: #fff;
  border-color: #ffb9c0;
  color: #ff5464;
}
.el-tag--plain.el-tag--warning {
  background-color: #fff;
  border-color: #ffdaae;
  color: #ffa438;
}
.el-tag .el-icon-close{
  width: 12px;
  height: 12px;
  line-height: 12px;
  right: -3px;
}
.d2-theme-container-main-body .el-button.button-new-tag {
  height: 24px !important;
  font-size: 12px;
  padding: 0px 15px !important;
}
// 弹窗
.vxe-modal--wrapper{
  z-index: 9999 !important;
}
.v-modal{
  opacity: .2;
}
.el-dialog{
  -webkit-box-shadow: 0 4px 18px rgba(26, 26, 26, 0.12);
  box-shadow: 0 4px 18px rgba(26, 26, 26, 0.12);
  border-radius: 8px;
}
.el-dialog__header{
  background: #fff;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px solid #dde0e7;
  border-radius: 6px 6px 0 0;
  padding: 0px 15px;
}
.el-dialog__header:before{
  content: '';
  display: inline-block;
  width: 4px;
  height: 18px;
  background-color: #3e7deb;
  position: absolute;
  top: 9px;
  left: -1px;
}
.el-dialog__title, .diaglogtitle, .qzDialogTitle{
  font-size: 14px;
  font-weight: bold;
  color: #1f2e42;
}
.diaglogtitle, .qzDialogTitle{
  line-height: 38px;
}
.qz-dialog-maximize{
  font-size: 12px;
  top: 15px;
  right: 42px;
}
.el-dialog__headerbtn .el-dialog__close, .el-message-box__headerbtn .el-message-box__close, .qz-dialog-maximize{
  color: #818181;
}
.el-dialog__headerbtn:hover .el-dialog__close, .el-dialog__headerbtn:active .el-dialog__close, .el-dialog__headerbtn:focus .el-dialog__close, .el-message-box__headerbtn:hover .el-message-box__close, .el-message-box__headerbtn:active .el-message-box__close, .el-message-box__headerbtn:focus .el-message-box__close, .qz-dialog-maximize:hover, .qz-dialog-maximize:active,.qz-dialog-maximize:focus{
  color: #3e7deb !important;
}
.el-dialog__headerbtn, .el-message-box__headerbtn{
  font-size: 14px;
}
.el-dialog__body{
  padding:20px 25px;
  font-size: 12px;
}
.el-dialog__footer{
  text-align: center;
}
.el-message-box__btns{
  text-align: center;
}
.el-message-box .el-button--primary{
  background-color: #3e7deb;
  border-color: #3e7deb;
  color: #fff;
}
.el-message-box .el-button--primary:hover{
  background-color: #4786f5;
  border-color: #4786f5;
}
.el-message-box__content{
  font-size: 12px;
  line-height: 19px;
}
.el-message-box__title{
  font-size: 16px;
}
.el-message-box__status{
  font-size: 20px !important;
}
.el-message-box__status+.el-message-box__message{
  padding-left: 30px;
}
.el-input-number.is-controls-right[class*=mini] [class*=decrease], .el-input-number.is-controls-right[class*=mini] [class*=increase]{
  line-height: 12px;
}
// tab标签页
.el-tabs__item{
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
.el-tabs__content{
  font-size: 12px;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item.is-active{
  color: #3e7deb;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  color: #485a6a;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item:hover{
  color: #3e7deb !important;
}
.el-tabs--border-card {
  border: 1px solid #DCDFE6;
  -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 0px 0 rgba(0,0,0,.04);
  box-shadow: 0 0px 0px 0 rgba(0,0,0,.12), 0 0 0px 0 rgba(0,0,0,.04);
}
.border-card02 > .el-tabs__header .el-tabs__item.is-active{
  background-color: #3e7deb;
  color: #fff;
}
.border-card02 > .el-tabs__header .el-tabs__item.is-active:hover{
  color: #fff !important;
}
.el-tabs--border-card>.el-tabs__header .el-tabs__item{
  -webkit-transition: all .2s cubic-bezier(.645,.045,.355,1);
  transition: all .2s cubic-bezier(.645,.045,.355,1);
}
.el-tabs__item.is-active, .el-tabs__item:hover{
  color: #3e7deb;
}
.el-tabs__active-bar{
  background-color: #3e7deb;
}
// 进度条
.el-progress-bar__outer{
  height: 12px !important;
}
.el-progress-bar__inner{
  background-color: #3f7dec;
}
.el-rate__icon{
  font-size: 16px;
  margin-right: 5px;
}
// 提示
.el-tooltip__popper {
  font-size: 12px !important;
  padding: 6px !important;
}
// 树结构
.el-tree-node__content{
  font-size: 12px;
}

}
